<h1>Number Converter 9000</h1>


<%= form_with(local:true) do |f| %>

    <div class="field">
        <%= f.label :number, 'Enter your number' %>
        <%= f.text_field :number, value: @number %>
    </div>

    <div class="field">
        <%= f.label :base, 'Base' %>
        <%= f.text_field :base, value: @base %>
    </div>

    <% if number_to_base(@number, @base).present? and @base>=2 %>
    <div class="field">
        <%= f.label :result, "Result in Base #{@base}" %>
        <%= f.text_field :result, value: number_to_base(@number, @base), :readonly => true %>
    </div>
    <% end %>

    <%= f.submit 'Convert', class: 'btn-primary' %>
    <%= link_to (f.button 'Reset', class: 'btn-primary'), root_path %>

    
<% end %>


<div>
    <br><br><br>
    <h2>History</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Input Number</th>
                <th>Base</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            <% @history.each do |h| %>
            <tr>
                <td><%= h.input_number %></td>
                <td><%= h.base %></td>
                <td><%= number_to_base(h.input_number, h.base) %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>