<h1>Number Converter 9000</h1>

<%= form_with(local:true) do |f| %>

    <% if @number_conversion.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
        <p><%= pluralize(@number_conversion.errors.count, "error") %> prohibited this conversion from being saved:</p>
        <ul>
        <% @number_conversion.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
    <% end %>

    <div class="field">
        <%= f.label :input_number, 'Enter your number' %>
        <%= f.text_field :input_number, value: @number_conversion.input_number %>
    </div>

    <div class="field">
        <%= f.label :base, 'Base' %>
        <%= f.text_field :base, value: @number_conversion.base %>
    </div>

    <% if @number_conversion.valid? %>
    <div class="field">
        <%= f.label :result, "Result in Base #{@number_conversion.base}" %>
        <%= f.text_field :result, value: @number_conversion.result, :readonly => true %>
    </div>
    <% end %>

    <%= f.submit 'Convert', class: 'btn-lg btn-primary' %>
    <%= link_to (f.button 'Reset', class: 'btn-lg btn-primary'), root_path %>

    
<% end %>


<div class="history">
    <h2>Conversion History</h2>
    <p><%= pluralize(@history.count, "past conversion") %></p>
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>Input Number</th>
                <th>Result</th>
                <th>Conversion Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @history.each do |h| %>
            <tr>
                <td><%= h.input_number %><sub>10</sub></td>
                <td><%= h.result %><sub><%= h.base %></sub></td>
                <td><%= h.updated_at.to_formatted_s(:short) %></td>
                <td><%= link_to "Delete", h, method: :delete %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>