<h1>Number Converter 9000</h1>

<% if number_to_base(@number, @base).present? %>
<p>
    In base <%= @base %>:
    <%= number_to_base(@number, @base) %>
</p>
<% end %>

<%= form_with(local:true) do |f| %>

    <div>
        <%= f.label :number, 'Enter your number' %>
        <%= f.text_field :number, value: @number %>
    </div>

    <div>
        <%= f.label :base, 'Base' %>
        <%= f.text_field :base, value: @base %>
    </div>

    <%= f.submit 'Convert', class: 'btn-primary' %>

<% end %>


<div>
    <br><br><br>
    <h2>History:</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Input Number</th>
                <th>Base</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            <% @history.each do |h| %>
            <tr>
                <td><%= h.input_number %></td>
                <td><%= h.base %></td>
                <td><%= number_to_base(h.input_number, h.base) %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>